@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<main class="main-content">
    <!--== Start Faq Area Wrapper ==-->
    <section class="page-not-found-area">
        <div class="container">
            <div class="page-not-found">
                <img src="~/Theme/files/images/photos/page-not-found.webp" width="975" height="538" alt="Image">
                <h3 class="title">شما به این صفحه دسترسی ندارید</h3>
                <h5 class="back-btn"><a asp-page="./Index">صفحه اصلی</a></h5>
            </div>
        </div>
    </section>
    <!--== End Faq Area Wrapper ==-->
</main>
