@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    @await Component.InvokeAsync("Slide")
    <!--== End Hero Area Wrapper ==-->
    <!--== Start Product Category Area Wrapper ==-->
    @await Component.InvokeAsync("ProductCategory")
    <!--== End Product Category Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    @await Component.InvokeAsync("LatestArrivals")
    <!--== End Product Area Wrapper ==-->
    <!--== Start Product Banner Area Wrapper ==-->
    @*  <section>
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-lg-4">
    <!--== Start Product Category Item ==-->
    <a href="product.html" class="product-banner-item">
    <img src="~/Theme/files/images/shop/banner/1.webp" width="370" height="370" alt="Image-HasTech">
    </a>
    <!--== End Product Category Item ==-->
    </div>
    <div class="col-sm-6 col-lg-4 mt-sm-0 mt-6">
    <!--== Start Product Category Item ==-->
    <a href="product.html" class="product-banner-item">
    <img src="~/Theme/files/images/shop/banner/2.webp" width="370" height="370" alt="Image-HasTech">
    </a>
    <!--== End Product Category Item ==-->
    </div>
    <div class="col-sm-6 col-lg-4 mt-lg-0 mt-6">
    <!--== Start Product Category Item ==-->
    <a href="product.html" class="product-banner-item">
    <img src="~/Theme/files/images/shop/banner/3.webp" width="370" height="370" alt="Image-HasTech">
    </a>
    <!--== End Product Category Item ==-->
    </div>
    </div>
    </div>
    </section> *@
    <!--== End Product Banner Area Wrapper ==-->
    <!--== Start Blog Area Wrapper ==-->
    @await Component.InvokeAsync("LatestArticles")
    <!--== End Blog Area Wrapper ==-->
    <!--== Start News Letter Area Wrapper ==-->
    @* <section class="section-space pt-0">
        <div class="container">
            <div class="newsletter-content-wrap" data-bg-img="/Theme/files/images/photos/bg1.webp">
                <div class="newsletter-content">
                    <div class="section-title mb-0">
                        <h2 class="title">بـه ما بپیونـد</h2>
                        <p> برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</p>
                    </div>
                </div>
                <div class="newsletter-form">
                    <form>
                        <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                        <a asp-page="./Account">ثبت نام کنید</a>
                    </form>
                </div>
            </div>
        </div>
    </section> *@
    <!--== End News Letter Area Wrapper ==-->
</main>









