@page
@model ServiceHost.Areas.Administration.Pages.Discount.ColleagueDiscounts.CreateModel
@{
    ViewData["Title"] = "ایجاد تخفیف";
}

<div class="container-xxl flex-grow-1 container-p-y">
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible mb-0" role="alert">
            @ViewData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">ایجاد تخفیف جدید همکار</h5>
                </div>
                <div class="card-body">
                    <form asp-page="/Create"
                          method="post">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Command.ProductId" class="control-label">محصول</label>
                                    <select id="selectTypeOpt" class="form-select color-dropdown" asp-for="Command.ProductId"
                                            asp-items="Model.Products">
                                        <option value="0">...</option>
                                    </select>
                                    <span asp-validation-for="Command.ProductId" class="error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Command.DiscountRate" class="control-label">درصد تخفیف</label>
                                    <input type="number" value="0" class="form-control persianNumber" asp-for="Command.DiscountRate" />
                                    <span asp-validation-for="Command.DiscountRate" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <a type="button" asp-page="./Index" class="btn btn-outline-secondary">
                            بازگشت
                        </a>
                        <button type="submit" class="btn btn-primary">ایجاد</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
















