@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Account.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه رمز";
}

<div class="container-xxl flex-grow-1 container-p-y">
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible mb-0" role="alert">
            @ViewData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">تغییر کلمه رمز</h5>
                </div>
                <div class="card-body">
                    <form asp-page="/ChangePassword"
                          method="post"
                          enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Command.Password" class="control-label">کلمه رمز</label>
                                    <input type="text" id="Name" class="form-control" asp-for="Command.Password"/>
                                    <span asp-validation-for="Command.Password" class="error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Command.RePassword" class="control-label">تکرار کلمه رمز</label>
                                    <input type="text" class="form-control" asp-for="Command.RePassword"/>
                                    <span asp-validation-for="Command.RePassword" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id"/>
                        <a type="button" asp-page="./Index" class="btn btn-outline-secondary">
                            بازگشت
                        </a>
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
















