@page
@model ServiceHost.Areas.Administration.Pages.Shop.ProductPictures.EditModel
@{
    ViewData["Title"] = "ویرایش عکس محصول";
}
<div class="container-xxl flex-grow-1 container-p-y">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible mb-0" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">ویرایش عکس محصول : @Model.Command.PictureAlt</h5>
                </div>
                <div class="card-body">
                    <form asp-page="/Edit"
                          method="post">
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label asp-for="Command.Picture" class="control-label">عکس</label>
                                    <input type="text" class="form-control" asp-for="Command.Picture" />
                                    <span asp-validation-for="Command.Picture" class="error"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Command.BackgroundColor" class="control-label">رنگ زمینه عکس</label>
                                    <input type="color" class="form-control form-control-color form-control-plaintext"  asp-for="Command.BackgroundColor">
                                    <span asp-validation-for="Command.BackgroundColor" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Command.ProductId" class="control-label">محصول</label>
                                    <select id="selectTypeOpt" class="form-select color-dropdown" asp-for="Command.ProductId"
                                            asp-items="Model.Products">
                                        <option value="0">...</option>
                                    </select>
                                    <span asp-validation-for="Command.ProductId" class="error"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Command.PictureAlt" class="control-label">Alt</label>
                                    <input type="text" class="form-control" asp-for="Command.PictureAlt" />
                                    <span asp-validation-for="Command.PictureAlt" class="error"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Command.PictureTitle" class="control-label">عنوان</label>
                                    <input type="text" class="form-control" asp-for="Command.PictureTitle">
                                    <span asp-validation-for="Command.PictureTitle" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id"/>
                        <a type="button" asp-page="./Index" class="btn btn-outline-secondary">
                            بازگشت
                        </a>
                        <button type="submit" class="btn btn-primary">ویرایش</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


