
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sogand -  آرایش و زیبایی</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Brancy - Cosmetic & Beauty Salon Website Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="bootstrap, ecommerce, ecommerce html, beauty, cosmetic shop, beauty products, cosmetic, beauty shop, cosmetic store, shop, beauty store, spa, cosmetic, cosmetics, beauty salon" />
    <meta name="author" content="codecarnival" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Theme/files/images/butterfly-logo.ico">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->
    <!-- Font CSS -->
    <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="~/Theme/files/css/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="~/Theme/files/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Theme/files/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Theme/files/css/fancybox.min.css">
    <link rel="stylesheet" href="~/Theme/files/css/nice-select.css">


    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Theme/files/css/style.min.css">

</head>

<body>

    <!--== Wrapper Start ==-->
    <div class="wrapper">

        <!--== Start Header Wrapper ==-->
        @await Component.InvokeAsync("Menu")
        <!--== End Header Wrapper ==-->
        @RenderBody()

        <!--== Start Footer Area Wrapper ==-->
        @await Component.InvokeAsync("Footer")
        <!--== End Footer Area Wrapper ==-->
        <!--== Scroll Top Button ==-->
        <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

        <!--== Start Product Quick Modal ==-->
        <aside class="product-action-modal  modal fade" id="MainModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="ModalContent">
                    <!--== Call Modal ==-->
                </div>
            </div>
        </aside>
        <!--== End Product Quick Modal ==-->
        <!--== Start Product Quick View Modal ==-->
        <aside class="product-cart-view-modal modal fade" id="MyMainModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="MyModalContent">

                </div>
            </div>
        </aside>
        <!--== End Product Quick View Modal ==-->
        <!--== Start Aside Search Form ==-->
        <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
                <h5 class="d-none" id="offcanvasTopLabel">کنار جستجو</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa fa-close"></i></button>
            </div>
            <div class="offcanvas-body">
                <div class="container pt--0 pb--0">
                    <div class="search-box-form-wrap">
                        <div class="search-note">
                            <p>شروع به تایپ کنید و اینتر را برای جستجو فشار دهید</p>
                        </div>
                        <form action="#" method="post">
                            <div class="aside-search-form position-relative">
                                <label for="SearchInput" class="visually-hidden">جستجو</label>
                                <input id="SearchInput" type="search" class="form-control" placeholder="جستجوی کل فروشگاه…">
                                <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
        <!--== End Aside Search Form ==-->
        <!--== Start Aside Cart ==-->
        <aside class="aside-cart-wrapper offcanvas offcanvas-end" tabindex="-1" id="AsideOffcanvasCart" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h1 class="d-none" id="offcanvasRightLabel">سبد خرید</h1>
                <button class="btn-aside-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">سبد خرید <i class="fa fa-chevron-left"></i></button>
            </div>
            <div class="offcanvas-body">
                <ul class="aside-cart-product-list">
                    <li class="aside-product-list-item">
                        <a href="#/" class="remove">×</a>
                        <a href="product-details.html">
                            <img src="~/Theme/files/images/shop/cart1.webp" width="68" height="84" alt="Image">
                            <span class="product-title">دمپایی مردانه چرم</span>
                        </a>
                        <span class="product-price">1 × 69.00 تومان</span>
                    </li>
                    <li class="aside-product-list-item">
                        <a href="#/" class="remove">×</a>
                        <a href="product-details.html">
                            <img src="~/Theme/files/images/shop/cart2.webp" width="68" height="84" alt="Image">
                            <span class="product-title">کفش مردانه </span>
                        </a>
                        <span class="product-price">1 × 20.00 تومان</span>
                    </li>
                </ul>
                <p class="cart-total"><span>جمع کل:</span><span class="amount">89.00 تومان</span></p>
                <a class="btn-total" href="product-cart.html">مشاهده سبد خرید</a>
                <a class="btn-total" href="product-checkout.html">پرداخت</a>
            </div>
        </aside>
        <!--== End Aside Cart ==-->
        
    </div>

    <!--== Wrapper End ==-->
    <!-- JS Vendor, Plugins & Activation Script Files -->
    <!-- Vendors JS -->
    <script src="~/Theme/files/js/modernizr-3.11.7.min.js"></script>
    <script src="~/Theme/files/js/jquery-3.6.0.min.js"></script>
    <script src="~/Theme/files/js/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/Theme/files/js/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/Theme/files/js/swiper-bundle.min.js"></script>
    <script src="~/Theme/files/js/fancybox.min.js"></script>
    <script src="~/Theme/files/js/jquery.nice-select.min.js"></script>

    <!-- Custom Main JS -->
    <script src="~/Theme/files/js/main.js"></script>
    <script src="~/Theme/files/js/site.js"></script>


</body>

</html>